.header
    //- button.header_btn
    .hamburger.hamburger--elastic(tabindex="0" aria-label="Menu" role="button" aria-controls="navigation")
        .hamburger-box
            .hamburger-inner
    nav.nav#navigation
        include nav
    .menu-close-block#menu-close-block
    
