.modal-menu.menu
    .menu__header
        button.icon.icon__link
    .menu__block
        nav.nav
            ul.menu-main
                li.menu-main__item
                    a.menu-main__link(href="#") Showreel
                li.menu-main__item
                    a.menu-main__link(href="#") Портфолио
                li.menu-main__item
                    a.menu-main__link(href="#") Трансляции
                li.menu-main__item
                    a.menu-main__link(href="#") Аэросъёмка
                li.menu-main__item
                    a.menu-main__link(href="#") Подводная съёмка
                li.menu-main__item
                    a.menu-main__link(href="#") Команда
                li.menu-main__item
                    a.menu-main__link(href="#") Связаться с нами