extends ../template

block variables
    - var title = 'Добро пожаловать'

block content

    main.main
        
    footer.footer
        .footer__bottom.footer__bottom_opacity 
            .footer__bottom-copyright © 