extends ../template

block variables
    - var title = 'Главная'

block content
    include ../common/header
    main.main
        .logo
            a.logo__link(href="#")
                img(src="", alt="")
            .logo__button
                button.btn.btn__link
                    span.btn__title Оставить заявку
    include ../common/nav 