extends ../template

block variables
    - var title = 'Главная'

block content
    include ../common/header
    main.main
        .logo
            a.logo__link.logo__link_pos(href="#")
                img.logo-i(src="assets/img/svg/logo.svg", alt="")
            .logo__button
                button.btn.btn__link
                    span.btn__title Оставить заявку    