extends ../template

block variables
    - var title = 'Команда'

block content
    .header 
        .header-title
            h1.header-title__mobil #{title}
        include ../common/header
    main.main
        .article
            aside.article__logo.logo.logo_size
                a.logo__link(href="index.html")
                    img.logo-i(src="assets/img/svg/logo.svg", alt="")
                .article__left-content
                    p Команда победителей. Сделаем пиздатейший ролик, инфа сотка, правда долго, дорого и не факт что вам вообще понравится, но нам то похуй, челедь ебаная.
                    p Команда победителей. Сделаем пиздатейший ролик, инфа сотка, правда долго, дорого и не факт что вам вообще понравится, но нам то похуй, челедь ебаная.
            article.article__content.article__content_w
                .block-img
                    img.block-img__img(src="assets/img/foto/img1.jpg", alt="")
                    h2.block-img__title.title-h Арсений Морин
                    .block-img__content 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="assets/img/foto/img2.jpg", alt="")
                    h2.block-img__title.title-h Арсений Морин
                    .block-img__content 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="assets/img/foto/img3.jpg", alt="")
                    h2.block-img__title.title-h Арсений Морин
                    .block-img__content 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="assets/img/foto/img1.jpg", alt="")
                    h2.block-img__title.title-h Арсений Морин
                    .block-img__content 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="assets/img/foto/img2.jpg", alt="")
                    h2.block-img__title.title-h Арсений Морин
                    .block-img__content 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
