extends ../template

block variables
    - var title = 'Команда'

block content
    include ../common/header
    main.main
        .team
            aside.team__left
                a.team__link(href="#")
                    img(src="", alt="")
                .team__left-content
                    p Команда победителей. Сделаем пиздатейший ролик, инфа сотка, правда долго, дорого и не факт что вам вообще понравится, но нам то похуй, челедь ебаная.
                    p Команда победителей. Сделаем пиздатейший ролик, инфа сотка, правда долго, дорого и не факт что вам вообще понравится, но нам то похуй, челедь ебаная.
            article.team__right
                .block-img
                    img.block-img__img(src="", alt="")
                    h2.block-img__title Арсений Морин
                    .block-img__content 
                        p 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="", alt="")
                    h2.block-img__title Арсений Морин
                    .block-img__content 
                        p 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="", alt="")
                    h2.block-img__title Арсений Морин
                    .block-img__content 
                        p 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="", alt="")
                    h2.block-img__title Арсений Морин
                    .block-img__content 
                        p 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.
                .block-img
                    img.block-img__img(src="", alt="")
                    h2.block-img__title Арсений Морин
                    .block-img__content 
                        p 14 лет, оператор мужских пиписек. На протяжении 12 лет трогаю мужские яички и писюнцы. Я профессионал. Делаю все качественно, нежно и с любовью.

    include ../common/nav 