extends ../template

block variables
    - var title = 'Статья'

block content
    .header 
        include ../common/header
    main.main
        .article
            aside.article__logo.logo.logo_size
                a.logo__link(href="index.html")
                    img.logo-i(src="assets/img/svg/logo.svg", alt="")
            article.article__content
                .block-info
                    img.block-info__img(src="assets/img/article/img2.jpg", alt="")
                    h1.block-info__title Подводная съёмка
                    .block-info__content 
                        p  Наша охуенная команда может еще и трансляцию устроить многокамерную и все такое. Не то что там другие обосанные продакшены. Расценки разные, вся хуйня. Звоните обсудим все. Наша охуенная команда может еще и трансляцию устроить многокамерную и все такое. Не то что там другие обосанные продакшены. Расценки разные, вся хуйня. Звоните обсудим все. Наша охуенная команда может еще и трансляцию устроить многокамерную и все такое. Не то что там другие обосанные продакшены. Расценки разные, вся хуйня. Звоните обсудим все. Наша охуенная команда может еще и трансляцию устроить многокамерную и все такое. Не то что там другие обосанные продакшены. Расценки разные, вся хуйня. Звоните обсудим все.               
                include ../common/footer