html{
    @include full{
        font-size: 16px;
    }
    @include desktop{
        font-size: 15px;
    }
    @include ipad{
        font-size: 14px;
        line-height: 1.4;
    }
    @include iphone{
        font-size: 14px;
    }
}
body{   
    background-color: #000;
    background-image: url('../img/bg.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;   
}
.header{
    display: flex;
    flex: 0 0 11%;
    justify-content: flex-start;
    min-height: 105px;
    &-title{
        display: flex;
        align-items: center;
        visibility: hidden;
        @include ipad{
            visibility: visible;
        }
        &__mobil{
            margin: 0;
            padding: 5px 15px 5px 30px;
            background: #e43834;
        }
    }
}
.main{
    display: flex;
    flex: 1 0 68%;
    padding: 0 20px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    @include full{
    }
    @include desktop{
        padding: 0 3.75em;
        flex: 0 0 auto;
        max-width: 100%;
        width: 100%;
    }
    @include ipad{
        padding: 0 1.7em;
        padding-top: 60px;
    }
    @include ipad600{
        padding: 0 1.75em;
    }
    @include iphone{
        padding: 0 1em;
    }
    &_i{
        flex: 1 0 auto;
        @include ipad{
            .logo__link{
                padding: 5em;
            }  
        }
        
    }
}
.menu{
    display: none;
}
.article{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    &__logo{
        width: 21%;
        padding-right: 20px;
        @include full{
        }
        @include desktop{
        }
        @include ipad{
            display: none;
        }
        @include ipad600{
        }
        @include iphone{
        }
    }
    &__content{
        width: 79%;
        @include full{
        }
        @include desktop{
        }
        @include ipad{
            width: 100%;
        }
        @include ipad600{
        }
        @include iphone{
        }
        .footer{
            padding: 0;
        }
        &_w{
            display: flex;
            flex-flow: row wrap; 
        }
    }

}
.footer{
    display: flex;
    flex: 0 0 21%;
    padding: 0 20px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    @include desktop{
        padding: 0 3.75em;
        max-width: 100%;
        width: 100%;
    }
    @include ipad{
        padding: 0 1.7em;
    }
    @include ipad600{
    }
    @include iphone{
        padding: 0 1em;
    }
}
.title-h{
    @include bb();
}
.block{
    &-info{
        &__title{
            margin-bottom: 10px;
        }
    }
}
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
    @include ipad{
        display: none;
    }
    &:before{
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.62);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #vidtop-content {
      top: 0;
      color: #fff;
  }
  .vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
  .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
  .vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }
  @media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
  }
  @media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
  }