html{
    @include full{
        font-size: 16px;
    }
    @include desktop{
        font-size: 15px;
    }
    @include ipad{
        font-size: 14px;
    }
    @include iphone{
        font-size: 14px;
    }
}
body{
    background: url('../img/bg.jpg') center fixed no-repeat; 
    background-size: cover;
    // overflow: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;    
}
.header{
    display: flex;
    flex: 0 0 11%;
    justify-content: flex-end;
    min-height: 105px;
}
.main{
    display: flex;
    flex: 1 0 68%;
    padding: 0 120px;
    // overflow: auto;
    // overflow-x: hidden;
    @include full{
    }
    @include desktop{
    }
    @include ipad{
        padding: 0 3.75em;
    }
    @include iphone{
    }
}
.menu{
    display: none;
}
.article{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    &__logo{
        width: 21%;
    }
    &__content{
        width: 79%;
        .footer{
            padding: 0;
        }
        &_w{
            display: flex;
            flex-flow: row wrap; 
        }
    }

}
.footer{
    display: flex;
    flex: 0 0 21%;
    padding: 0 120px;
    justify-content: flex-start;
}
.title-h{
    @include bb();
}