@mixin opensans($style : r){
    font-family: 'Open Sans';
    @if $style == r {
        font-style: normal;
        font-weight: 300;
    }
    @if $style == l {
        font-style: normal;
        font-weight: 400;
    }
}
@mixin bb(){
    font-family: 'BebasNeueBold';
}

@mixin full{
    @media (max-width: 1800px){
        @content;
    }
}
@mixin desktop{
    @media (max-width: 1200px){
        @content;
    }
}
@mixin ipad{
    @media (max-width: 768px){
        @content;
    }
}
@mixin iphone{
    @media (max-width: 320px){
        @content;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    // 50%{
    //     transform: translateX(-8%);
    // }
    // 65%{
    //     transform: translateX(4%);
    // }
    // 80%{
    //     transform: translateX(-4%);
    // }
    // 95%{
    //     transform: translateX(2%);
    // }           
    100% {
        transform: translateX(0%);
    }
}